*{
    box-sizing: border-box;
    
 }
 html
 {
   font-size: 10px;
   
 }
 body
 { 
   margin: 0;
   background-color: black;
   max-width: 1500px; 
 }
 
/* .parent
 {
    
   max-width: 1500px;
 }   */
 .container
 {
   width:100%;
   display: flex;
   justify-content: space-between;
   height:20px;
   padding:40px;
   position: fixed;
}

.about
{
 width: 50%;
 display:flex ;
 justify-content:space-between;
 font-family:Arsenal;
 font-size: 2.5rem;
 font-weight: 400;
}
a
 {
   text-decoration: none;
   color:white;
}
.award
{font-family:Arsenal ;
 font-size: 4rem;
 font-weight: 400;
}
.entry
{
 font-family:Inter;
 font-size: 2.5rem;
 font-style: italic;
 font-weight: 400;
}   

.details
{
  display:flex;
  justify-content:space-between;
  margin-left: 50px;
  margin-right: 50px; 
}
.invite
{
   font-family:Inter;
  font-size: 3.8rem;
  font-weight: 600;
}
.content
{
    color: white;
    margin-top: 30rem;
    max-width:50%;
}
.description
{ margin-top: 60px;
   margin-bottom: 60px;
   font-family:Inter;
   font-size: 1.8rem;
   font-weight: 300;}
.click
{ 
   font-family:Inter;
   font-size: 1.8rem;
   font-weight: 300;
  cursor:pointer; 
  color:white;
  text-decoration: underline;
}
.image
{
  
  overflow: hidden;
  border-radius: 30px;
  margin-top: 20rem;
}
.parentbox
{
   
   max-width: 1500px;  
   margin-top:100px;
   background-color:rgba(35,35,35,255); 
   padding:40px;
   background-image: url(/asset/camera.svg);
}
.childbox
{
  
    max-width: 1500px;  
    background-color:rgba(46,46,46,255);
    display:flex;
    justify-content:flex-start;
    padding-top: 3rem;
    padding-bottom: 4rem;
    
   
}
.identity
{
   width: 50%;   
   color: white;
   padding-left: 10rem; 
   
}
 .form-half
 {  width: 50%; 
   border-left: 1px solid white;
   padding-left: 4rem;
}  
.formhead
{
 font-size: 2rem;
 margin-bottom: 30px;
   
}
 input
{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  padding-top:30px;  
}  
 
#empty
{
 
   padding-bottom: 10px;
   padding-top:10px;
}

::placeholder
{
   font-size: 1.5rem;
}
.selection
{
  width:40%; 
  display:flex;
  justify-content:flex-start;
}
#city
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: white;
   margin-right: 3rem;
}
#state
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: white;
   
}
.select-country
{ 
   display:flex;
  justify-content: flex-start;
}
#country
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: white;
   margin-right: 3rem;
  
}
#zipcode
{
   padding-bottom: 0;
   
   
}
.icon
{
  margin-top: 30px; 
}
.icon-size
{
 font-size: 1.5rem;  
}
input[type="radio"] 
{
   accent-color: white;
}


.explanation
{
   background-color:transparent;
   color: white;
   font-size: 1.5rem; 
}
.explanation-area
{
 width:50%;
 height: 80px;
 border-radius: 15px;
 margin-top: 20px;
 background-color:transparent;
}
#photo
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: white;  
}
.payment
{
   background-color:transparent;
   color: white;
   font-size: 1.5rem;
   margin-top: 40px;
    
}
.conditions
{
   background-color:transparent;
   color: rgb(7, 125, 194);
   font-size: 1.5rem; 
   
}
.terms
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.agreement
{
   background-color:transparent;
   color: white;
   font-size: 1.5rem; 
}
input[type="checkbox"] 
{
   accent-color: rgb(4, 8, 5);
}
/* .register
{
   background-color: rgba(86, 179, 95, 1);
   color: rgba(241, 241, 241, 1);
   width:50px;
   border: none;
   cursor: pointer;
   border-radius: 10px;
 } */
 .submission
{
  display: flex;
  justify-content:space-between;  
}   
#submit
{
   background-color: rgba(86, 179, 95, 1);
   color: rgba(241, 241, 241, 1);
   cursor: pointer;
   border-radius: 10px;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   margin-top: 2rem;
   text-align: center;
   
}
#cancel
{
   background-color: rgb(9, 12, 9);
   color: rgba(241, 241, 241, 1);
   cursor: pointer;
   border-radius: 10px;
   padding-top: 0.5rem; 
   padding-bottom: 0.5rem;
   margin-top: 2rem;
   text-align: center;
}

    

