 *{
    box-sizing: border-box;
    
 } 
 html
 {
   font-size: 62.5%;
   
 }
 @font-face
 {
   font-family:inter;
   src:url(./asset/font/Inter-VariableFont_slnt\,wght.ttf)
 }

 body
 { 
   margin: 0; 
   background-color: black;
   display: flex;
   justify-content:center;
 }
 .parent-container
 {
   width: 100%; 
   max-width:1500px;
 }  
 second-container
 {
   padding-top: 6rem;
 }
.nav-container
 { 
   width: 100%;
   height: 2rem;
   max-width: 1500px; 
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   flex-wrap: wrap;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-right: 3rem;
   padding-left: 3rem;   
   position: fixed;  
   background-color:black;
 }
.nav-middile
{
 
 display:flex ;
 gap:6rem;
 justify-content:space-between;
 align-items:flex-end; 
 flex-wrap: wrap; 
 font-family:inter;
 font-size: 2rem;
 font-weight: 400;
}
a
 {
   text-decoration: none;
   color:white;
}
.award
{
 font-size: 3.5rem;
 font-weight: 400;
 display: flex;
 align-items: flex-end;
}
.hover-effect:hover
{
   font-weight: 700;
}

.entry
{
 font-size: 2.5rem;
 font-style: italic;
 font-weight: 400;
}   

.details
{
  display:flex;
  justify-content:space-between;
  padding-left:3rem;
  padding-right: 3rem;
  align-items: center; 
  flex-wrap: wrap;
  height: 120vh; 
  /* margin-left: 50px;
  margin-right: 50px;  */
}
.invite
{
  font-size: 4rem;
  font-weight: 600;
}
.content
{
    color: white;
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.description
 {  padding-top: 6rem;
   padding-bottom: 6rem; 
    font-family:Inter; 
   font-size: 1.5rem;
   font-weight: 300;
}
.click
{ 
   font-size: 2rem;
   cursor:pointer; 
   color:white;
   text-decoration: underline;
}
.image
{
  border-radius: 30px;
  height:459px;
  width:318px; 
  
  
}
.parentbox
{
   background-color:rgba(35,35,35,.8);
   width: 100%;  
   margin-top:100px;
   padding:40px; 
   min-width: 500px;
}
.childbox
{  
   display:flex;
   justify-content:space-around; 
   flex-wrap: wrap;
   background-image: url(/asset/image/camera.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-image: cover;
} 
 .textfield-length
{
  min-width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  padding-top:30px;
  color: white;
} 
 .first-half
{
  flex-grow: 1; 
  flex-basis: 50%;
  border-right: 1px solid white;
  padding-left:6rem;
}
 .second-half
{  
  flex-grow: 1;
  flex-basis: 50%;
  padding-left: 4rem;
}  
.formhead
{
 font-size: 2rem;
 margin-top: 3rem;
 margin-bottom: 30px;
 color: rgb(161, 159, 156);
   
}
input:focus,textarea:focus
{
  outline: none;
}  
 
#empty-field
{
   background-color: transparent;
   border: none;
   border-bottom: 1px solid white;
   color: white;
   padding-bottom: 10px;
   padding-top:10px;
   width:40%;
}

::placeholder
{
   font-size: 1.5rem;
}
.selection
{
  
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
#city
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color:rgb(161, 159, 156);
   margin-right: 3rem;
   width:15rem;
}
#state
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: rgb(161, 159, 156);
   width: 6rem;
}
#Address
{
  width: 58%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  padding-top:30px;
  color: white;
}
.select-country
{ 
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#country
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: rgb(161, 159, 156);
   margin-right: 3rem;
   width: 15rem;
   
}
#zipcode
{
   width:7rem;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid white;
   padding-top:30px;
   color: white;
}
 .option-colour
{
 color: white;
 background-color:rgb(53, 52, 52);
} 
.icon
{
  margin-top: 30px;
  color:rgb(161, 159, 156);
  font-size: 1.5rem; 
  margin-bottom: 4rem;; 
}
input[type="radio"] 
{
   accent-color: white;
}
.explanation
{
   background-color:transparent;
   color:rgb(161, 159, 156);
   font-size:1.5rem;
   margin-top: 3rem; 
}
.explanation-area
{
 width:55%;
 height: 20vh;
 border-radius: 15px;
 margin-top: 20px;
 background-color:rgba(51,51,51,1);
 resize: none;
 color: white;
}
 #photo
{
   background-color:transparent;
   border: none;
   border-bottom: 1px solid white;
   margin-top:30px;
   color: rgb(161, 159, 156);  
} 
.payment
{
   background-color:transparent;
   color: rgb(161, 159, 156);
   font-size: 1.5rem;
   margin-top: 40px;
    
}
.conditions
{
   background-color:transparent;
   color: rgb(7, 125, 194);
   font-size: 1.5rem; 
   
}
.terms
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.agreement
{
   background-color:transparent;
   color: rgb(161, 159, 156);
   font-size: 1.5rem; 
}
input[type="checkbox"] 
{
   accent-color: rgb(4, 8, 5);
   
}

 /* .submission
{
  display: flex;
  justify-content:flex-start; 
  flex-wrap: wrap;
  margin-bottom: 4rem;; 
  
}    */
#submit
{
   background-color: rgba(86, 179, 95, 1);
   color: rgba(241, 241, 241, 1);
   cursor: pointer;
   border-radius: 10px;
   padding-top: 0.6rem;
   padding-bottom: 0.6rem;
   margin-top: 2rem;
   text-align: center;
   margin-right: 1rem;
   width: 40%;
   border: none;
   
}
#cancel
{
   background-color: rgb(9, 12, 9);
   color: rgba(241, 241, 241, 1);
   cursor: pointer;
   border-radius: 10px;
   padding-top: 0.5rem; 
   padding-bottom: 0.5rem;
   margin-top: 2rem;
   text-align: center;
   width: 40%;
   border: 1px solid white;

}

    

